body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* The reset rules */
	margin:0px;
	padding:0px;
}

body{
	color:#555555;
	font-size:13px;
	background:  #BBDDFF;
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	
	margin-top : 20px;
}

h1{
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	letter-spacing:1px;
}

h2{
	font-family:"Arial Narrow",Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;
	letter-spacing:1px;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin-top:4px;
	color: white;
}

#main p{
	padding-bottom:8px;
}

.clear{
	clear:both;
}

#main{
	width:800px;
	/* Centering it in the middle of the page */
	/*margin:60px auto;*/
	float:left;
}

.header{
	margin-bottom:20px;
	
	background:#FFFFFF;
	padding:15px;
	
	width:80%;
	margin-left : 9%;
	margin-right : auto;
	
	  color:#FFF;
     display:block;
     background-color:#62A3DD;
     padding:20px;
     height:100%;
     /* Äëÿ çàêðóãëåíèÿ óãîëêîâ â îñòàëüíûõ áðàóçåðàõ */
     -moz-border-radius:20px;
     -webkit-border-radius: 20px;
     border-radius: 20px;
	
	
}

.footer{
	margin-top:20px;
	
	background:#FFFFFF;
	padding:15px;
	clear : left;
	
	
	width:80%;
	margin-left : 9%;
	margin-right : auto;
	
	 color:#FFF;
     display:block;
     background-color:#62A3DD;
     height:100%;
     /* Äëÿ çàêðóãëåíèÿ óãîëêîâ â îñòàëüíûõ áðàóçåðàõ */
     -moz-border-radius:20px;
     -webkit-border-radius: 20px;
     border-radius: 20px;
}

.container{
	margin-bottom:20px;
	
	background:#FFFFFF;
	padding:15px;
	
	width: 73%;
	float : left;
	
	 color:#FFF;
     display:block;
     background-color:#62A3DD;
     height:100%;
     /* Äëÿ çàêðóãëåíèÿ óãîëêîâ â îñòàëüíûõ áðàóçåðàõ */
     -moz-border-radius:20px;
     -webkit-border-radius: 20px;
     border-radius: 20px;
}


a, a:visited {
	color: white;
	text-decoration:none;
	outline:none;
	font-weight:bold;
	font-size:11pt;
}

a:hover{
	text-decoration:underline;
}

/*
div{
	display : block;
	
}*/
.sidebar{
	/*margin-left : 1000px;*/
	margin-top:20px;
	margin-left: 77%;
	
	background:#FFFFFF;
	padding:15px;
	
	 color:#FFF;
     display:block;
     background-color:#62A3DD;
     height:100%;
     /* Äëÿ çàêðóãëåíèÿ óãîëêîâ â îñòàëüíûõ áðàóçåðàõ */
     -moz-border-radius:20px;
     -webkit-border-radius: 20px;
     border-radius: 20px;
}

#bd{
	display : block;
	margin-left: 9%;
	margin-right: 9%;
}

