.margin-10{
    margin-top : 10px;
}

#loader{
    background-image: url('imgs/loader.gif');
    margin-bottom: 10px;
    max-width: 220px;
    max-height: 20px;
    width: 220px;
    height: 20px;
}

label.answer{
    display :inline;
    margin-left : 10px;
    
}

.variant{
    display: inline;
}

.question{
    margin-bottom: 20px;
}

.countdown-popup{
    width:100px;
    height: 50px;
    z-index: 1000000;
    position:fixed;
    right:20px;
    bottom:20px;
}

.row-fluid label{
    margin-bottom: 0.8em;
    font-weight: bold;
    font-size: 16px;
    vertical-align: top;
    width: 9em;
    float: left;
    clear: left;
}

.answer label{
    float:none !important;
    font-weight: normal;
}