/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	.pull-right {
		float: right
	}

	.pull-left {
		float: left
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

.row-fluid label {
	margin-bottom: 0.8em;
	font-weight: bold;
	font-size: 16px;
	vertical-align: top;
	width: 9em;
	float: left;
	clear: left;
}

.login-form {
	padding: 30px;
}

.article-content h3 {
	color: orange;
	font-size: 20px;
}

.article-content img{
	/*
    padding: 10px 10px 10px 10px;
    */
}

.author-profile h2{
	color: orange;
	font-size: 21px;
}

.author-profile h1{
	color: orange;
	font-size: 30px;
}

aside.article-aside div.article-aside-content{
	font-size: 12px;
}

.login-form label.error, span.error{
	background: none;
}

.login-form textarea.error{
	background: white;
}

.article-content p{
	text-indent: 20px;
}

div.article ul.breadcrumbs li.active{
	display: inline;

}

.vert-nav a{
	cursor: pointer;
}

.page .breadcrumbs{
	padding-left:0px;
	margin-bottom: 0px;
}

div.cross-articles-nav-prev, div.cross-articles-nav-next, div.cross-articles-nav-active{
	-moz-box-sizing: content-box;
}

div.url{
	margin-top: 10px;
}

.block_infored_bg {
	background: url('../img/news_red_bg.png') left no-repeat; 
	height: 197px; 
	width: 44px; 
	position: absolute; 
	left: -14px; 
	top: 15px;
}

.block_infored {
	padding: 25px 25px 15px 60px;
	background: #eaeaea;
	height: 230px auto;
	min-height: 230px;
}

.block_infored h2 {
	padding-top: 0px;
	margin: 0px;
	font-size: 20px;
	width: 425px;
	float: left;
}

.block_infored h2 a {
	color: #4b4b4b;
}
.block_infored h2 a:hover {
	color: #FF7800;
	background: none;
}

.block_infored .date {
	float: left; 
	color: #afafaf; 
	font-size: 11px; 
	font-weight:  bold;
}

.block_infored .text {
	padding: 10px 0px 20px 0px;
	clear: both;
}

.title_image {
	margin-top: -115px;

}

.title_image .wrap {
	padding: 15px;
}

.title_image h3 a {
	color: #fff;
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	font-size: 18px;
}
.title_image h3 a:hover {
	color: #000;
	background: none;
}
.title_image h3 {
	padding: 0px;
	margin: 0px;
	line-height: 20px;
}

.title_image .linker {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	background: #cf9212;
	padding: 10px;

}

.img_title {
	border: 1px solid #6a6a6a;"
}
.article-header-block{
	margin-top: 10px;
	min-height: 170px;
}

.share{
    margin-top: 10px;
}

a.pad{
	margin-left:15px;
}

.pop{
    overflow: hidden;
}

.pop-inner{
    white-space: nowrap;
}

div.article-content img{
    padding: 15px 15px 15px 15px !important;
}

div.article-aside-content p{
    margin-top: 0;
}

.pagination > .active > a{
    background-color: #fca100 !important;
    border-color: #fca100 !important;
}

.share-bottom{
    float:left;
    margin-left: 40px;
}

.share-top{
    margin-top: 20px;
}

.login-alert{
    margin-left: 24px;
    margin-top: 15px;
}

a.captcha-refresh{
    white-space: nowrap;
    display: block;
}