.block_aside {

}
.block_contacts {
    background: transparent url('../../img/bg_contacts.png') no-repeat 0 22px;
}
.block_contacts ul {
    margin: 12px 0;
    padding: 0 0 0 12px;
}
.wf-active .block_contacts ul {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.block_archive {
    background: #fff;
}
.block_archive,
.block_contacts {
    /*border-right: 1px solid #ededed;*/
}
.block_aside .inner {
    padding: 22px 10px 20px 40px;
}
.title_block_aside {
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    text-align: right;
    padding-right: 40px;
    margin-left: -14px;
    margin-right: -1px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #6a6a6a;
}
.archive-year-item {
    margin-bottom: 20px;
}
.archive-year-label {
    display: block;
    float: left;
    font-size: 30px;
    line-height: 56px;
    font-weight: bold;
    font-family: "Arial Black",Gadget,sans-serif;
    padding: 0 12px;
    background: #838383;
    color: #fff;
}
.archive-year-label.active {
    background: #fca100;
}
.archive-months-list {
    float: left;
}
.archive-month-item {
    margin: 1em 0;
}
.archive-month-label {
    float: left;
    width: 90px;
    margin-right: 12px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.archive-items {
    float: left;
    color: #e47f27;
    width: 140px;
}
.archive-items .link {
    font-family: 'Arial Narrow', Arial, sans-serif;
    /*color: #e47f27;*/
}