body{
    background-image: url("imgs/login-bg.png");
}
.login-form{
    height: 220px;
    width: 550px;
    
    /* Center */
    position:absolute;
    left:50%;
    top:50%;
    margin:-110px 0 0 -275px
}

.login-wrapper{
    width: 100%;
    height: 100%;
}

.row-form{
    clear: both;
    margin-left : 0px;
}

.scenter{
    margin:0 auto;
}