.zero-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.main-container {
	padding-right: 8px
}

.page-header {
	margin-top: 0px;
}

.page-header h1 {
	margin-top: 0px;
}

.content-container {
	margin-top: 0px;
	padding-right: 15px;
}

.breadcrumbs {
	margin-left: 5px;
	margin-right: 5px;
}

.edit-form label {
	margin-bottom: 0.8em;
	font-weight: bold;
	font-size: 16px;
	vertical-align: top;
	width: 9em;
	float: left;
	clear: left;
}

.edit-form {
	margin-left: 40px !important;
}

#menu {
	float: right;
	margin-right: 10px;
}

.container-fluid {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.column {
	margin-left: 0px !important;
}

.row-fluid label {
	margin-bottom: 0.8em;
	font-weight: bold;
	font-size: 16px;
	vertical-align: top;
	width: 9em;
	float: left;
	clear: left;
}

.popover{
	min-width: 250px;
}