<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Панель управления сайтом.</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
	<script src="../includes/jquery-1.7.min.js"></script>
	<script src="styles/js/jquery.corner.js"></script>
	<script>
		$(document).ready(function (){
			$(".block").corner();
		});
	</script>
</head>
<body>

<div class="block">
<br><br><center><H2>Панель управления сайтом</H2></center><br><br>
</div>
<br />
</body>

</html>
