<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
<div class="block"><br>
<br>
<center><a href="../index.php"><img border=0 title="На главную страницу сайта"src="../styles/{THEME}/imgs/toolbar_home.png" ></a> <a href="index.php?mod=siteedit&step=1"><img title="Изменение конфигурации сайта" border=0 src="../styles/{THEME}/imgs/site_control.png" ></a>


<a href="index.php?mod=news"><img border=0 title="Статьи" src="../styles/{THEME}/imgs/text_control.png" ></a>
<a href="index.php?mod=comments"><img border=0 title="Комментарии" src="../styles/{THEME}/imgs/comments.png" ></a>
<a href="index.php?mod=plugins"><img border=0 title="Плагины" src="../styles/{THEME}/imgs/plugins.png" ></a>
<a href="index.php?mod=apps"><img border=0 title="Управление плагинами" src="../styles/{THEME}/imgs/apps.png" ></a>
<a href="index.php?mod=users"><img border=0 title="Пользователи" src="../styles/{THEME}/imgs/apps.png" ></a>
<br>
<br>
</center>
</div>
</body>
</html>