<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <link rel=Stylesheet type="text/css" href="styles/main.css">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 221px;
        }
    </style>
</head>
<body>
<div class="block">
    <table class="style1">
        <tr>
            <td>
               <b> Название</B></td>
            <td>
                Автор</td>
            <td class="style2">
                <b>Дата публикации</b></td>

            <td>
                <b>Действия</B></td>
        </tr>
        {NEWS}
    </table>
</div>
</body>
</html>
