.input_submit {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 0.85em;
    font-weight: bold;
    padding: 3px 7px;
    text-decoration: none;
}
.input_submit {
    background-color: #1D3652;
    border-color: #4F7298 #113051 #113051 #4F7298;
    color: #FFFFFF;
}
.input_submit.alt {
    text-decoration: none;
}
.input_submit.alt {
    background-color: #EEF3F8;
    border-color: #FAFBFC #BFCBD8 #BFCBD8 #FAFBFC;
    color: #1D3652;
}