v\:roundrect {
     color:#FFF;
     display:block;
     background-color:#62A3DD;
     padding:20px;
     height:100%;
     /* Для закругления уголков в остальных браузерах */
     -moz-border-radius:10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     }
 
/* Для ie */
v\:roundrect  {
     behavior:url(#default#VML);
     /background-color:transparent;
     }
body
{
	background-color : #BBDDFF
}