body{
    background-image: url("imgs/login-bg.png");
}
.login-form{
    max-height: 450px;
    max-width: 450px;
    
    /* Center */
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
}

.login-wrapper{
    width: 100%;
    height: 100%;
}

.row-form{
    clear: both;
    margin-left : 0px;
}

.scenter{
    margin:0 auto;
}
.row{
    margin-left: 0px !important;
}

